<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.scss" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav-bar"><a href="#"> home </a></nav>
    <main class="main">
      <content></content>
    </main>
    <module href="nav.html">
      <div>131231soidhfgios pages 123 1231</div>
    </module>
    <button id="wsClick">连接服务端</button>

    <script>
      (function () {
        const button = document.getElementById("wsClick");

        const { protocol, host, pathname } = location;
        const path = pathname.replace(".html", "");

        const url = `${
          protocol === "http:" ? "ws://" : "wss://"
        }localhost:3031${path}`;

        console.log(url);

        button.addEventListener("click", () => {
          const socket = new WebSocket(url);

          // Listen for messages
          socket.addEventListener("message", function (event) {
            const data = JSON.parse(event.data);
            if (data.type === "fileChange") {
              console.log("文件更新");
              console.log(data.message);
            }
          });

          socket.addEventListener("close", function (event) {
            console.log("Message from server ", event.data);
          });

          socket.addEventListener("error", function (event) {
            console.log(event);
          });

          socket.addEventListener("open", function (event) {
            console.log("Message from server ", event);
            heart(3000);
          });

          const send = (type, message) => {
            socket.send(
              JSON.stringify({
                type,
                message,
              })
            );
          };

          const heart = (time = 3000) => {
            setInterval(() => {
              send("heartbeat", "message");
            }, time);
          };
        });
      })();
    </script>
  </body>
</html>
